html, body {
  margin: 0;
  background-color: #282828;
}

p {
  line-height: 1.4;
  font-family: 'Quicksand', sans-serif;
  text-align: inherit;
  font-size: 14px;
  color: #c8c8c8;
  line-height: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  position: relative;
}

li a {
  display: block;
  color: #c8c8c8;
  padding: 0 10px;
  margin: 0;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  position: relative;
}

.navbar {
  background-color: #282828;
}

.navbarbrand {
  display: block;
  background-color: #282828;
  color: #c8c8c8;
  font-family: 'Rock Salt', cursive;
  font-size: 24px;
  padding: 20px;
  position: relative;
}

.container {
  max-width: 960px;
  margin: auto;
}


.box2 {
  position: relative;
  background: #282828;
  margin-top: 40px;
  padding: 0 0 50px 5px;
}

h1 {
  display: block;
  color: #c8c8c8;
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  margin-bottom: 30px;
  margin-top: 15px;
}

.photo {
  position: relative;
  margin: 0px 30px 30px 0px;
  float: left;
}

h3 {
  display: block;
  color: #c8c8c8;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  margin-bottom: 20px;
  margin-top: 15px;

}

.designdiv, .techdiv, .skillsdiv {
  float: left;
  width: 33.33%;
}

#designp, #techp, #skillsp {
  color: #c8c8c8;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  margin-right: 25px;
}

footer {
  position: fixed;
  height: 30px;
  bottom: 0;
  width: 100%;
  margin: auto;
  background-color: #282828;
  border-top-style: solid;
  border-width: 1px;
  border-color: #c8c8c8;
  padding: 10px 0;
}

footer p {
  color: #cccccc;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7em;
  margin: 0;
}